@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3A225F;
  --accent: #FFCF3F;

  --bg: #F6F2FA;
  --surface: #ffffff;

  --text: #1C1C22;
  --muted: #6B6B76;

  --border: #E7E2EF;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-lato);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
